[Desktop Entry]
Name=KCPUInfo
Name[ast]=KCPUInfo
Name[bg]=KCPUInfo
Name[bs]=KCPUInfo
Name[ca]=KCPUInfo
Name[ca@valencia]=KCPUInfo
Name[cs]=KCPUInfo
Name[da]=KCPUInfo
Name[de]=KCPUInfo
Name[el]=KCPUInfo
Name[en_GB]=KCPUInfo
Name[eo]=KCPUInfo
Name[es]=KCPUInfo
Name[et]=KCPUInfo
Name[fi]=KCPUInfo
Name[fr]=KCPUInfo
Name[ga]=KCPUInfo
Name[gl]=KCPUInfo
Name[hu]=KCPUInfo
Name[it]=KCPUInfo
Name[ja]=KCPUInfo
Name[kk]=KCPUInfo
Name[km]=KCPUInfo
Name[ko]=KCPUInfo
Name[lt]=KCPUInfo
Name[lv]=KCPUInfo
Name[nb]=KCPUInfo
Name[nds]=KCPUInfo
Name[nl]=KCPUInfo
Name[nn]=KCPUInfo
Name[pa]=KCPUInfo
Name[pl]=KCPUInfo
Name[pt]=KCPUInfo
Name[pt_BR]=KCPUInfo
Name[ro]=KCPUInfo
Name[ru]=KCPUInfo
Name[sk]=KCPUInfo
Name[sl]=KCPUInfo
Name[sq]=KCPUInfo
Name[sr]=KCPUInfo
Name[sr@ijekavian]=KCPUInfo
Name[sr@ijekavianlatin]=KCPUInfo
Name[sr@latin]=KCPUInfo
Name[sv]=KCPUInfo
Name[tr]=KCPUInfo
Name[ug]=KCPUInfo
Name[uk]=KCPUInfo
Name[x-test]=xxKCPUInfoxx
Name[zh_CN]=KCPUInfo
Name[zh_TW]=KCPUInfo
Exec=kcpuinfo %i -caption %c
Icon=kcpuinfo
Type=Application
X-DocPath=kcpuinfo/index.html
GenericName=A Simple KDE Application
GenericName[bs]=Prosti KDE program
GenericName[ca]=Una aplicació senzilla del KDE
GenericName[ca@valencia]=Una aplicació senzilla del KDE
GenericName[cs]=Jednoduchá aplikace KDE
GenericName[da]=Et simpelt KDE-program
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[el]=Μια απλή εφαρμογή KDE
GenericName[en_GB]=A Simple KDE Application
GenericName[es]=Una aplicación sencilla para KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[ga]=Feidhmchlár Simplí KDE
GenericName[gl]=Aplicativo de KDE sinxelo
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[it]=Una semplice applicazione di KDE
GenericName[kk]=Қарапайым KDE қолданбасы
GenericName[ko]=간단한 KDE 프로그램
GenericName[lt]=Paprasta KDE programa
GenericName[nb]=Et enkelt KDE4-program
GenericName[nl]=Een eenvoudige KDE-toepassing
GenericName[pa]=ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples do KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[ru]=Простое приложение KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sl]=Preprost program za KDE
GenericName[sr]=Једноставни КДЕ програм
GenericName[sr@ijekavian]=Једноставни КДЕ програм
GenericName[sr@ijekavianlatin]=Jednostavni KDE program
GenericName[sr@latin]=Jednostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[tr]=Baist bir KDE4 Uygulaması
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
